{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card" style="padding: 14px;">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3" style="color:#007bff; font-weight: 600;">Password Reset</legend>
        </fieldset>
        
        <div class="">
            <div class="alert alert-info">
                <h4>Note:</h4><p>
                Please use the email you registered with otherwise you won't be able to receive an email</p>
            </div>
            {{ form|crispy}}
            <div class="col-md-12 pl-0 pb-3">
                <button class="btn py-2 px-2 btn-outline-primary" type="submit">Reset Password</button>
            </div>
        </div>
    </form>
</div>


{% endblock content %}