{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card" style="padding: 14px;">

        <fieldset class="form-group">
            <legend class="border-bottom mb-3" style="color:#007bff; font-weight: 600;">Password Reset completed</legend>
        </fieldset>

            <div class="alert alert-info">
            <p>
               You have reset your password successfully, You are able to  
               <a href="{% url 'login' %}" class="ml-2">login</a></p>
            </div>
        <div class="border-top pt-3">
        <small class="text-muted">
            Login now?
            <a href="{% url 'login' %}" class="ml-2">Sign In</a>
        </small>
    </div>
</div>


{% endblock content %}